.nav{
    position: fixed;
    top: 0%;
    justify-content: space-between;
    padding: 20px;
    /* Specifies the width */
    width: 100%;
    display: flex;
    height: 30px;
    /* Sets the z index to 1 so that every item is in z direction */
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}
.nav__black{
    background-color: #111; 
 }
.nav__logo{
    position: fixed;
    left: 0;
    width: 80px;
    object-fit: contain;
}
.nav__avatar{
    position: fixed;
    right: 20px;
    width: 30px;
    object-fit: contain;
}
